LOCAL_AS=65000
CLIENT_AS=65001

ROUTER_ID=10.0.0.1

UPDATE_INTERVAL=3600

CIDR_1=https://iplist.opencck.org/?format=json&data=cidr4&site=telegram.org
#CIDR_2=https://iplist.opencck.org/?format=json&data=cidr4&site=youtube.com

#CIDR_3=100.64.0.0/10
#CIDR_4=203.0.113.0/24